
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
h1 {
    text-align: center;
    font-size: 4em;
    border: 0.3em;
    border-style: solid;
    font-family: Otomanopee One;
    background-color: #eee1b3;
    padding: 3px;
    
}
 nav ul li {
    margin:40px;
    padding: 60px;
    display: inline;
    float: left;  
}
nav ul li a {
    border: 0.1em solid black;
    display: block;
    text-decoration: none;
    font-size: 2.5em;
    padding: 7px;
    text-align: center;
    color: #56666b;
    background-color: #eee1b3;
    font-family: Otomanopee One;
    
}
nav {
    width: 95%;
    margin: -8% auto 0% auto;
}
html {
    background-color: #2f394d;
}
/* 000000 ffffff 2f394d 56666b eee1b3