
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
h1 {
    text-align: center;
    font-size: 4em;
    border: 0.3em;
    border-style: solid;
    font-family: Otomanopee One;
    background-color: #eee1b3;
    padding: 3px;
    
}
 nav ul li {
    margin:40px;
    padding: 60px;
    display: inline;
    float: left;  
}
nav ul li a {
    border: 0.1em solid black;
    display: block;
    text-decoration: none;
    font-size: 2.5em;
    padding: 1px;
    text-align: center;
    color: #56666b;
    background-color: #eee1b3;
    font-family: Otomanopee One;
    
}
nav {
    width: 95%;
    margin: -8% auto 0% auto;
}

html {
    background-color: #2f394d;
}
.mainpageimg1 {
    border: 2px solid #eee1b3;
}
.mainpageimg2 {
    border: 2px solid #eee1b3;
    float: right;
}
.homepage {
    text-decoration: none;
    color: black;
}
p1>h2 {
    border: 0.1em solid black;
    display: block;
    text-align: center;
    font-size: 2em;
    font-family: Otomanopee One;
    background-color: #eee1b3;
}
p1 {
    font-family: sans-serif;
    display: block;
    border: 0.1em solid black;
    background-color: #eee1b3;
}
footer {
    text-align: center;
}
a#navOutline:hover {
    outline: white solid 0.12em;
}
h2 {
    font-size: 1em;
}
.p4 {
    font-size: 3.5em;
    font-family: sans-serif;
    text-align: center;
    color: black;
    display: block;
    background-color: #eee1b3;
    border: 4px solid black;
}
.abtheader {
    font-size: 5em;
    color: #eee1b3;
    text-align: center;
    font-family: sans-serif;
}
.listingaside {
    float: right;
    padding: 2em;
    font-size: 2em;
    font-family: sans-serif;
    background-color: #eee1b3;
    border: 2px solid black;
}
.dogchart {
    background-color: #eee1b3;
    text-align: center;
    padding: 15px;
    outline: 2px solid black;
    border-collapse: collapse;
}
td button {
    color: #565656;
    background-color: white;
    outline: 1px solid #2f394d;
}
button:hover {
    background-color: lime;
}
fieldset#billing {
    font-family: sans-serif;
    font-size: 1.2em;
    color: #eee1b3;
    background-color: black;
    outline: 2px solid #eee1b3;
}
/* 000000 ffffff 2f394d 56666b eee1b3 */